{% extends 'mainBook/layout/base.html' %}
{% load static %}
{% block content %}
    {% for book in books %}
        <div class="main_block">
            <img src="/book.jpg" alt="Book">
            <h1 class="heading"> 
                Заголовок
            </h1>
            <h3 class="autor">Автор</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cupiditate odio, ipsa perspiciatis iure minus voluptas quo velit veritatis sed saepe temporibus rerum perferendis, quisquam placeat totam dolore sequi nostrum consectetur quasi, libero amet enim? Fugiat nihil voluptas nemo magni repellendus perspiciatis, impedit hic architecto. Vero possimus magnam itaque saepe assumenda, quisquam voluptatem eligendi! Quia quo et aliquid reprehenderit impedit?</p>
            <button class="btn">Жанр</button>
            <div class="reit">
                <h2>Рейтинг</h2>
                <span class="starts">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                <button class="download">Скачать</button>
            </div>
        </div>
    {% endfor %}

{% endblock %}