{% extends 'mainBook/layout/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block title %}
    {{ "Вход в профиль" }}
{% endblock %}


{% block download %}
<div class="main" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
        <h2>Вход на сайт</h2>
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Загрузить</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}