{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainBook/style.css'%}">
    <link rel="stylesheet" href="{% static 'mainBook/reset.css'%}">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <h2>
                <span class="get">Get</span>
                <span class="book">Book</span>
            </h2>
        </div>
        <div class="main">
            <ul>
                <li>Главная</li>
                <li>Каталог</li>
                <li>О нас</li>
            </ul>
        </div>
        <button class="regist">Регистрация</button>
    </nav>
    <main class="content">
        {% block content%}
        <div class="main"><div class="main_block">
            <img src="/book.jpg" alt="Book">
            <h1 class="heading"> 
                Заголовок
            </h1>
            <h3 class="autor">Автор</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cupiditate odio, ipsa perspiciatis iure minus voluptas quo velit veritatis sed saepe temporibus rerum perferendis, quisquam placeat totam dolore sequi nostrum consectetur quasi, libero amet enim? Fugiat nihil voluptas nemo magni repellendus perspiciatis, impedit hic architecto. Vero possimus magnam itaque saepe assumenda, quisquam voluptatem eligendi! Quia quo et aliquid reprehenderit impedit?</p>
            <button class="btn">Жанр</button>
            <div class="reit">
                <h2>Рейтинг</h2>
                <span class="starts">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                <button class="download">Скачать</button>
            </div>
        </div></div>
        {% endblock %}
    </main>
</body>
</html>