{% extends 'mainBook/layout/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block title %}
    {{ "Вход в профиль" }}
{% endblock %}


{% block login %}
    <div class="main">
        <h2>Вход на сайт</h2>
        <form method="post" class="form-control form-control-lg row g-2 container-md">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% bootstrap_button "Войти" button_type="submit" button_class="btn btn-dark" %}

        </form>
    </div>
{% endblock %}

