{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainBook/style.css'%}">
    <link rel="stylesheet" href="{% static 'mainBook/reset.css'%}">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <h2>
                <span class="get">Get</span>
                <span class="book">Book</span>
            </h2>
        </div>
        <div class="main">
            <ul>
                <li>Главная</li>
                <li>Каталог</li>
                <li>О нас</li>
            </ul>
        </div>
        <button class="regist">Регистрация</button>
    </nav>
    <main class="content">
        {% block content%}
        <div class="main"><div class="main_block">
            <img src="/book.jpg" alt="Book">
            <h1 class="heading"> 
                Заголовок
            </h1>
            <h3 class="autor">Автор</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cupiditate odio, ipsa perspiciatis iure minus voluptas quo velit veritatis sed saepe temporibus rerum perferendis, quisquam placeat totam dolore sequi nostrum consectetur quasi, libero amet enim? Fugiat nihil voluptas nemo magni repellendus perspiciatis, impedit hic architecto. Vero possimus magnam itaque saepe assumenda, quisquam voluptatem eligendi! Quia quo et aliquid reprehenderit impedit?</p>
            <button class="btn">Жанр</button>
            <div class="reit">
                <h2>Рейтинг</h2>
                <span class="starts">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                <button class="download">Скачать</button>
            </div>
        </div></div><div class="main"><div class="main_block">
            <img src="/book.jpg" alt="Book">
            <h1 class="heading"> 
                Заголовок
            </h1>
            <h3 class="autor">Автор</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cupiditate odio, ipsa perspiciatis iure minus voluptas quo velit veritatis sed saepe temporibus rerum perferendis, quisquam placeat totam dolore sequi nostrum consectetur quasi, libero amet enim? Fugiat nihil voluptas nemo magni repellendus perspiciatis, impedit hic architecto. Vero possimus magnam itaque saepe assumenda, quisquam voluptatem eligendi! Quia quo et aliquid reprehenderit impedit?</p>
            <button class="btn">Жанр</button>
            <div class="reit">
                <h2>Рейтинг</h2>
                <span class="starts">&#9734;&#9734;&#9734;&#9734;&#9734;</span>
                <button class="download">Скачать</button>
            </div>
        </div></div>
        {% endblock %}
        <div class="forms">
            <form method="POST">
                {% csrf_token %}
            <div class="input_name">
                <label for="id_name">
                    <span>Название книги:</span>
                    <input type="text" required id="id_name">{{ form.name }}</input>
                </label>
            </div>   
            <div class="input_name">
                <label for="input_name">
                    <span>Имя автора:</span>
                    <input type="text" value="Name">{{ autors.first_name }}</input>
                </label>
            </div>   
            <div class="input_name">
                <label for="input_name">
                    <div>Фамилия автора:</div>
                    <input type="text" value="Name">{{ autors.second_name }}</input>
                </label>
            </div>  
            <div class="input_name">
                <label for="input_name">
                    <div>Описание:</div>
                    <input type="text">{{ form.description }}</input>
                </label>
            </div> 
            <div class="input_name">
                <label for="input_name">
                    <p>Жанр:</p>
                    {% for i in categories %}
                        <input type="radio" value="Категории">{{ i }}</label>
                    {% endfor %}
                </label>
            </div class="input_name"> 
           <div class="btn">{{ form.book }}</div>
            <button class="btn" type="submit">Загрузить</button>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>